<?xml version="1.0" encoding="UTF-8"?>
<?include version.wxi?>
<?if $(var.Platform) = x64 ?>
  <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
  <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="EclipseVersion" Name="Eclipse $(var.EclipseRelease)">
          <Directory Id="INSTALLFOLDER" Name="!(wix.EclipsePlatform)">
            <Directory Id="DropinsFolder" Name="dropins" />
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="EclipseStartMenuFolder" Name="Eclipse $(var.EclipseRelease)">
          <Component Id="ProgramMenuDir" Guid="!(wix.RegistryGUID)">
            <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
            <RegistryValue Root="HKMU" Key="Software\Eclipse\$(var.EclipseRelease)\!(wix.EclipsePlatform)" Name="install" Type="string" Value="[INSTALLFOLDER]" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>
</Wix>
