<?xml version="1.0" encoding="UTF-8"?>
<?include version.wxi?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <ComponentGroup Id="EclipseExecutables" Directory="INSTALLFOLDER">
      <Component Id="eclipse.exe" Guid="366b94ab-ea2d-4de3-8012-359df0ee2a33">
        <File Id="eclipse.exe" Source="$(var.EclipseDir)\eclipse.exe" KeyPath="yes">
          <Shortcut Id="EclipseApplicationShortcut"
                    Name="Eclipse $(var.EclipseRelease) CDT"
                    WorkingDirectory="INSTALLFOLDER"
                    Icon="cdt.ico"
                    Directory="EclipseStartMenuFolder" Advertise="yes" />
        </File>
        <File Id="eclipse.ini" Source="$(var.EclipseDir)\eclipse.ini" />
      </Component>
      <Component Id="eclipsec.exe">
        <File Id="eclipsec.exe" Source="$(var.EclipseDir)\eclipsec.exe" KeyPath="yes" />
      </Component>
      <Component Id="artifacts.xml">
        <File Id="artifacts.xml" Source="$(var.EclipseDir)\artifacts.xml" KeyPath="yes" />
      </Component>
      <Component Id="_.eclipseproduct">
        <File Id="_.eclipseproduct" Source="$(var.EclipseDir)\.eclipseproduct" KeyPath="yes" />
      </Component>
    </ComponentGroup>
	</Fragment>
</Wix>
