<?xml version="1.0" encoding="UTF-8"?>
<?if $(var.Platform) = x64 ?>
  <?define PlatformUpgradeCode = "685fcf61-1bf4-4b37-bd49-c1c04d4211cd" ?>
<?else ?>
  <?define PlatformUpgradeCode = "0793f0a2-d97c-4469-a315-8ca0bf9a20bb" ?>
<?endif ?>

<?include version.wxi?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Manufacturer="Tridigee Solutions" Name="Eclipse $(var.EclipseRelease) PDE Toolset" Language="1033"
           Version="$(var.FullVersion)" UpgradeCode="$(var.PlatformUpgradeCode)">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

    <!-- Include the icon -->
    <Icon Id="platform.ico" SourceFile="PDE.ico" />
    <Property Id="ARPPRODUCTICON" Value="platform.ico" />

    <!-- Show a license agreement at least -->
    <UIRef Id="WixUI_Minimal" />
    <WixVariable Id="WixUILicenseRtf" Value="EPL.rtf" />

    <Feature Id="EclipsePDEFeature" Title="Eclipse PDE Toolset" Level="1">
      <ComponentGroupRef Id="EclipseConfiguration" />
      <ComponentGroupRef Id="EclipseFeatures" />
      <ComponentGroupRef Id="EclipsePlugins" />
      <ComponentGroupRef Id="EclipseP2" />
      <ComponentGroupRef Id="EclipseExecutables" />
      <ComponentGroupRef Id="EclipseEmptyDirs" />
      <ComponentRef Id="ProgramMenuDir" />
    </Feature>
	</Product>
</Wix>
